<h1><a href="/">{{ site.name }}</a></h1>

<p class="view"><a href="http://github.com/cudpp/cudpp">View CUDPP on GitHub <small>cudpp/cudpp</small></a></p>

<p><a href="http://cudpp.github.io/cudpp/2.0/">Documentation</a></p>

<ul>
  <li><a href="https://github.com/cudpp/cudpp/zipball/master">Download <strong>ZIP File</strong></a></li>
  <li><a href="https://github.com/cudpp/cudpp/tarball/master">Download <strong>TAR Ball</strong></a></li>
  <li><a href="http://github.com/cudpp/cudpp">View On <strong>GitHub</strong></a></li>
</ul>